javascript:
  googletag.cmd.push(function() {
    googletag.defineSlot('/57491254/sole24ore.com/Speciali_minisiti/CONAI_BANDO_LUGLIO_2016_129787/Top', [1, 1], 'div-gpt-ad-Top').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
