/ /57491254/sole24ore.com/Speciali_minisiti/CONAI_BANDO_LUGLIO_2016_129787/Top
.div-gpt-ad-Top style='height:1px; width:1px;'
  javascript:
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-Top'); });
