.hero
  background-repeat: no-repeat
  background-position: center center
  background-color: $white
  background-size: cover
  position: relative

  +at-breakpoint(lap)
    margin-top: 50px

.hero--conai
  background-image: image-url("conai.jpg")
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  position: relative

.hero__body
  display: table
  width: 100%
  text-align: center

.hero__body__inner
  display: table-cell
  vertical-align: middle
  +vertical-padding(4)

  &.is-small-padding
    +padding-top(1)
    +padding-bottom(1)

    +at-breakpoint(lap)
      +padding-top(4)

.hero__body__inner--azure
  +margin-top(8)
  +padding-bottom(0)
  background-color: rgba($azure, 0.8)

.hero__heading
  +heading-font-family
  +font-size(alpha)
  line-height: 1.2
  margin-left: auto
  margin-right: auto
  max-width: 800px

.hero__heading--azure
  +heading-font-family
  line-height: 1.2
  margin-left: auto
  margin-right: auto
  max-width: 800px
  color: white
  +font-size(iper)
  text-transform: uppercase
  +padding-top(6)
  +padding-bottom(1)

.hero__text
  +heading-font-family
  +font-size(gamma)
  +margin-top(2)
  max-width: 750px
  margin-left: auto
  margin-right: auto

.hero__text--azure
  +body-font-family
  color: $white
  +font-size(gamma)
  +padding-bottom(2)

.hero__actions
  color: white
  z-index: 100
  background-color: $blue
  +font-size(zeta)

  +at-breakpoint(lap)
    +font-size(eta)

  a
    color: white
    text-decoration: none
    text-transform: uppercase
    font-style: normal

.hero__actions--desk
  height: 50px
  @extend .hero__actions
  display: none

  +at-breakpoint(lap)
    display: block
    position: fixed

.hero__actions--mobile
  margin-top: 50px
  @extend .hero__actions
  display: block

  +at-breakpoint(lap)
    display: none

.hero__actions--inner
  height: 100%
  width: 100%
  text-align: center
  +heading-font-family

.sticky-wrapper
  display: none

  +at-breakpoint(lap)
    display: block

.hero--primary
  @extend .hero
  background-color: $primary-color
  color: white

  .hero__text a
    color: white

+at-breakpoint(desk)
  .hero__heading
    +font-size(40px)

