.news
  background-color: $azure
  +vertical-padding(4)

.news__body
  border-top: 2px solid $white

.news__heading
  color: $blue
  +heading-font-family
  +font-size(gamma)
  text-transform: uppercase
  +vertical-padding(1)

.news__logo
  color: $black
  +font-size(iper)
