.todo
  background-color: $white
  +padding-bottom(3)

.todo__heading
  +heading-font-family
  line-height: 1.2

.todo__title, .todo__number
  color: $black
  +font-size(gamma)

.todo__title--expandable
  transition: all 0.35s ease
  cursor: pointer

  &::before
    content: "\276F"
    font-size: 0.6em
    float: left
    line-height: 2.0
    font-weight: 100
    margin-right: 15px
    transition: all 0.15s ease

  &:hover
    opacity: 0.6

.todo__title--expandable.close
    cursor: pointer

    &::before
      transform: rotate(-90deg)!important

.todo__title--expandable:hover::before
  transform: rotate(90deg)

.todo__subtitle
  color: $blue
  +heading-font-family
  +font-size(epsilon)
  margin-left: 23px

  &.is-no-margin
    margin-left: 0px

.todo__text
  +padding-top(3)

.todo__list--number
  color: $black
  +heading-font-family

.todo__list--line
  width: 100%
  height: 2px
  background-color: $black
  +margin-bottom(0.8)
  vertical-align: bottom
