= partial "partials/hero"
- data.main.wrapper.each do |c|
  = partial "partials/presentation", locals: { c: c }
= partial "partials/news"
= partial "partials/video"
- first = data.title.title.slice(0)
= partial "partials/title", locals: { t: first }
= partial "partials/adesione"
= partial "partials/dichiarazione"
= partial "partials/secondtodo"
= partial "partials/thirdtodo"
- second = data.title.title.slice(1)
= partial "partials/title", locals: { t: second }
= partial "partials/adesione"
= partial "partials/rilegno"
= partial "partials/dichiarazioneuno"
= partial "partials/secondtodo"
= partial "partials/thirdtodo"
= partial "partials/who"
