= partial "partials/hero"
= partial "partials/presentation"
= partial "partials/firsttitle"
= partial "partials/firsttodo"
= partial "partials/secondtodo"
= partial "partials/thirdtodo"
= partial "partials/video"
= partial "partials/news"
