= partial "partials/hero"
- data.main.wrapper.each do |c|
  = partial "partials/presentation", locals: { c: c }
= partial "partials/news"
= partial "partials/video"
= partial "partials/firsttitle"
= partial "partials/firsttodo"
= partial "partials/secondtodo"
= partial "partials/thirdtodo"
= partial "partials/who"
